/* ===== biAX PAGE ===== */

.biax-page {
  background: #f6f1eb;
  height: 100vh;
}

.biax-wrapper {
  max-width: 420px;
  margin: auto;
  height: 100vh;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.biax-header {
  padding: 16px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.biax-messages {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
}

.bot-msg {
  background: #f6f1eb;
  padding: 12px;
  border-radius: 14px;
  margin-bottom: 10px;
}

.user-msg {
  background: #000;
  color: #fff;
  padding: 12px;
  border-radius: 14px;
  margin-bottom: 10px;
  text-align: right;
}

.biax-input {
  display: flex;
  border-top: 1px solid #eee;
}

.biax-input input {
  flex: 1;
  border: none;
  padding: 14px;
}

.biax-input button {
  background: #000;
  color: #fff;
  border: none;
  padding: 0 18px;
}
