:root {
  --bg-main: #b7afa4;
  --bg-header: #a89f95;
  --bg-panel: rgba(255,255,255,0.14);
  --white-soft: rgba(255,255,255,0.92);
  --black-soft: #111;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--bg-main);
  color: var(--black-soft);
  font-family: 'Inter', sans-serif;
}
