body {
  background: #b7afa4;
  font-family: 'Inter', sans-serif;
}

.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: rgba(255,255,255,0.85);
  padding: 60px;
  border-radius: 20px;
  width: 380px;
  text-align: center;
}

.login-box h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.4rem;
}

.login-box input {
  width: 100%;
  margin-top: 16px;
  padding: 14px;
  border: none;
  border-radius: 8px;
}

.login-box button {
  margin-top: 28px;
  width: 100%;
  padding: 14px;
  border-radius: 999px;
  border: none;
  background: #111;
  color: white;
}
